/*
{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "forOf": true,
    "jsx": true,
    "es6": true
  },
  "rules": {
    "no-undef": 0,
    "no-console": 0,
    "no-alert": 0,
    "comma-dangle": 0,
    "react/prop-types": 0,
    "no-use-before-define": 0,
    "radix": 0,
    "no-param-reassign": 0,
    "react/jsx-filename-extension": 0,
    "no-mixed-operators": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "no-plusplus": 0,
    "react/prefer-stateless-function": 0,
    "class-methods-use-this": 0,
    "react/require-default-props": 0
  },
  "plugins": [
    "react", "import"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "globals": {
    "__DEV__": true
  }
}
*/
{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "jest": true
  },
  "plugins": [
    "react",
    "react-native"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "object-curly-spacing": ["error", "never", { "arraysInObjects": true }],//取消花括号内变量必须有空格隔开
    "object-curly-newline": 0,//强制花括号内换行符的一致性
    "no-unused-vars": 1,      //没被使用的变量
    "no-useless-concat": 0,  //禁止不必要的字符串字面量或模板字面量的连接,
    "indent":  ["error", 4],              //强制使用一致的缩进
    "no-use-before-define": [0, { "functions": false }],//禁止在变量定义之前使用它们

    "react/jsx-uses-vars": 2,
    "react/jsx-uses-react": 2,
    "comma-dangle": [   //在定义对象或数组时，最后一项不能加逗号
      "error",
      {
        "arrays": "never",
        "objects": "never"
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true
      }
    ]
  },
  "globals": {
    "fetch": true
  }
}
